# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/tfplan
terraform/plan.txt

# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment/secrets
.env
*.pem

# OS/editor
.DS_Store
.vscode/
